*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue;
}

#about{
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
}



#header1{
    background-color: black;
    color:white;
    height:30px
}

.navButtons{
    display: flex;
    justify-content: space-evenly;

}

a:hover{
    color:blue
}

a {
    color:white;
    text-decoration: none;
}

#github{
    height:30px;
    border-radius: 80px;
    
}
#linkedin{
    height:30px;
    border-radius:80px;
    
    
}
.logos{
    display: flex;
    justify-content: right;
}

#h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#h1s{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom:50px
}
#pic{
    display: flex;
    justify-content: center;
}

#db{
    height:500px;
    border-radius: 100%;
}
#projectheader{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
#project{
display: flex;
justify-content: center;
}
#hglanding{
    margin-top: 10px;
    height: 300px;
    margin-right:10px; 
    transition: .2s;
}
#hgimg{
    margin-top: 10px;
    height:300px;
    transition: .2s;
}
#Ido{
    margin-top: 30px;
    margin-bottom: 30px;
}

#skills{
    margin-top: 100px;
}
#hellYeah{
    display: flex;
    justify-content: center;
}

#video{
    display: flex;
    justify-self: center
    
}

#hgimg:hover{
    transform: scale(1.5);

}

#hglanding:hover{
    transform: scale(1.5);
}

.othera{
    color: black;
}